.fky-logo {
    cursor: pointer;
    display: flex;
    align-items: center;
}

.fky-logo_img {
    width: 32px;
    height: 32px;
}

.fky-logo_chevron {
    margin-top: 4px;
    width: 10px;
    height: 10px;
}
