.fky-editor {
    display: flex;
    flex-basis: 100%;
    justify-content: space-between;
    gap: 32px;
}

.fky-editor .fky-playground {
    flex-basis: 50%;
}

.fky-editor .fky-playground .fky-title {
    padding: 30px 0;
}

.fky-editor .fky-output {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
}

@media (max-width: 991px) {
    .fky-editor {
        flex-direction: column;
        justify-content: flex-start;
    }
    .fky-editor .fky-playground {
        flex-basis: unset;
    }
    .fky-editor .fky-playground .fky-title {
        padding: 8px 0 30px;
    }
}
