.fky-sidebar {
    padding: 32px;
    flex-basis: 320px;
}

.fky-sidebar_item {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    padding: 12px;
}

.fky-sidebar_item img {
    width: 24px;
    height: 24px;
}

.fky-sidebar_item--active img {
    filter: brightness(3);
}

.fky-sidebar_item button {
    font-size: 16px;
    color: #5D6166;
    cursor: pointer;
    background: transparent;
    font-weight: bold;
    border: none;
}

.fky-sidebar_item--active button {
    color: #F8F8F8;
}

@media (max-width: 991px) {
    .fky-sidebar {
        padding: 32px 16px;
        flex-basis: 64px;
    }

    .fky-sidebar_item {
        gap: 0;
    }

    .fky-sidebar_item button {
        display: none;
    }
}

