.fky-playground_command {
    cursor: pointer;
    display: inline-flex;
    position: relative;
    gap: 4px;
    align-items: center;
    color: white;
    padding: 30px 0;
}

.fky-playground_command:hover {
    color: #00E0FF;
}

.fky-playground_command-papyrus {
    width: 24px;
    height: 24px;
    margin-bottom: 2px;
    filter: brightness(3);
}

.fky-playground_command-chevron {
    transform: rotate(90deg);
}
