.fky-title {
    display: flex;
    position: relative;
    gap: 4px;
    align-items: center;
    color: white;
}

.fky-title img {
    width: 24px;
    height: 24px;
    margin-bottom: 2px;
    filter: brightness(3);
}

.fky-title input {
    font-size: 16px;
    background: transparent;
    border: none;
    color: white;
    width: 100%;
}

.fky-title input::placeholder {
    color: white;
}

.fky-title button {
    display: none;
    cursor: pointer;
    position: absolute;
    background: transparent;
    border: none;
    color: white;
    right: 0;
}

.fky-title button:hover {
    text-decoration: underline;
}
