.fky-console {
    display: flex;
    flex-direction: column;
    cursor: text;
}

.fky-console_input {
    color: white;
    background: transparent;
    width: 100%;
    padding: 0;
    margin: 0;
    height: 0;
    border: none;
    resize: none;
}

.fly-console_output-container {
    position: relative;
    width: fit-content;
    min-height: 24px;
}

.fly-console_output {
    word-break: break-all;
    text-indent: 12px;
    margin: 0;
}

.fly-console_output .command {
    border: none;
    background: transparent;
    font-weight: bold;
    color: yellow;
    cursor: pointer;
    padding: 0;
}

.fly-console_output, .fly-console_output button {
    font-size: 14px;
    line-height: 24px ;
}

.fly-console_output .command:hover {
    text-decoration: underline;
}

.fly-console_output:before {
    content: '> ';
    position: absolute;
    left: -12px;
}

.fly-console_output--focused:after {
    content: '';
    display: inline-flex;
    margin-left: 2px;
    padding-bottom: 4px;
    padding-top: 1px;
    width: 1px;
    height: 12px;
    background: white;
    -webkit-animation: 1s blink step-end infinite;
    -moz-animation: 1s blink step-end infinite;
    -ms-animation: 1s blink step-end infinite;
    -o-animation: 1s blink step-end infinite;
    animation: 1s blink step-end infinite;
}

@keyframes blink {
    from,
    to {
        background: transparent;
    }
    50% {
        background: white;
    }
}

.fly-console_output::first-letter {
    text-transform: capitalize
}
