.fky-console {
    display: flex;
    flex-direction: column;
}

.fky-console_input {
    color: white;
    background: transparent;
    width: 100%;
    border-radius: 8px;
    padding: 8px;
    resize: none;
}

.fly-console_output-container {
    position: relative;
    width: fit-content;
}

.fly-console_output {
    word-break: break-word;
}
.fly-console_output .command {
    border: none;
    background: transparent;
    font-weight: bold;
    color: yellow;
    cursor: pointer;
}

.fly-console_output .command:hover {
    text-decoration: underline;
}
