.fky-list {
    margin: 0;
    padding: 0;
    max-width: 825px;
}

.fky-list hr {
    margin: 16px 0;
}

.fky-list_item {
    cursor: pointer;
    display: flex;
    gap: 20%;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}

.fky-list_item:hover h3 {
    color: #00E0FF;
}

.fky-list_item > div {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.fky-list_item h3 {
    font-weight: bold;
    margin: 0;
    font-size: 16px;
}

.fky-list_item p {
    margin: 0;
    font-size: 14px;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.fky-list_item p:last-child {
    color: gray;
}
